@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&family=Mulish:wght@400;700&display=swap");
.headerfont {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
}

.textfont, body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.textfont-strong, .textfont-bold {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}

body {
  font-size: 18px;
}

div, article, header, section, aside, span, footer, header {
  box-sizing: border-box;
}

.transition, a {
  transition: ease-in-out 0.4s;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

#root {
  margin: -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: max-content auto max-content;
  grid-template-areas: "logo . nav";
  background-color: #000000;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
}
header h1 {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: left;
  max-width: 500px;
  width: auto;
  align-items: center;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  margin-left: 1rem;
}
header h1 a {
  padding: 0.5rem;
  color: #ffffff;
  text-decoration: none;
  transition: none;
}
header h1:hover {
  text-decoration: underline;
  color: #FFA100;
}
header h1:hover a:hover {
  text-align: underline;
  color: #FFA100;
}
header nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: right;
  max-width: 500px;
  width: auto;
  padding: 0.5rem;
  align-items: center;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  text-align: center;
  display: inline-block;
  padding: 1rem;
  color: #ffffff;
}
header nav ul li:hover {
  color: #FFA100;
  text-decoration: underline;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". page ." ". mg-mf .";
}
main .dashboard-shop {
  grid-area: page;
  margin: 1rem;
}
main .dashboard-shop .redirect {
  font: inherit;
  margin-left: 0.5rem;
  background-color: #000000;
  border-radius: 12px;
  padding: 0.3rem;
}
main .dashboard-shop .redirect a {
  color: #ffffff;
  text-decoration: none;
  transition: none;
}
main .dashboard-shop .redirect :hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
  transition: none;
}
main .dashboard-shop .redirect:hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
}
main .dashboard-shop ul {
  list-style: none;
  margin: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .dashboard-shop ul li {
  max-width: 300px;
  width: 100%;
  border: 2px solid #000000;
  margin: 5px;
  padding: 0.5rem;
}
main .dashboard-shop ul li img {
  max-width: 250px;
}
main .dashboard-mg-mf {
  grid-area: mg-mf;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mg mf";
  margin-bottom: 4rem;
}
main .dashboard-mg-mf .mg {
  margin: 1rem;
  grid-area: mg;
  display: flex;
  flex-direction: column;
}
main .dashboard-mg-mf .mg .redirect {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 27px;
  margin-left: 0.5rem;
  background-color: #000000;
  border-radius: 12px;
  padding: 0.5rem;
  max-width: 14rem;
  width: auto;
  margin-top: 1rem;
}
main .dashboard-mg-mf .mg .redirect a {
  color: #ffffff;
  text-decoration: none;
  transition: none;
}
main .dashboard-mg-mf .mg .redirect :hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
  transition: none;
}
main .dashboard-mg-mf .mg .redirect:hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
}
main .dashboard-mg-mf .mg ul {
  list-style: none;
  margin: -1rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .dashboard-mg-mf .mg ul li {
  max-width: 300px;
  width: 100%;
  border: 2px solid #000000;
  margin: 5px;
  padding: 0.5rem;
}
main .dashboard-mg-mf .mg ul li img {
  max-width: 250px;
}
main .dashboard-mg-mf .mf {
  margin: 1rem;
  grid-area: mf;
  border-left: 3px solid #232323;
}
main .dashboard-mg-mf .mf .redirect {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 27px;
  background-color: #000000;
  border-radius: 12px;
  margin-left: 1.8rem;
  padding: 0.5rem;
  max-width: 14rem;
  width: auto;
  margin-top: 1rem;
}
main .dashboard-mg-mf .mf .redirect a {
  color: #ffffff;
  text-decoration: none;
  transition: none;
}
main .dashboard-mg-mf .mf .redirect :hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
  transition: none;
}
main .dashboard-mg-mf .mf .redirect:hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
}
main .dashboard-mg-mf .mf h2 {
  margin-left: 1.8rem;
}
main .dashboard-mg-mf .mf ul {
  list-style: none;
  margin: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .dashboard-mg-mf .mf ul li {
  max-width: 300px;
  width: 100%;
  border: 2px solid #000000;
  margin: 5px;
  padding: 0.5rem;
}
main .dashboard-mg-mf .mf ul li img {
  max-width: 250px;
}

.game-info {
  grid-area: page;
  padding: 1rem;
  margin-bottom: 5rem;
}
.game-info p {
  max-width: 65%;
}
.game-info aside {
  float: right;
}
.game-info aside img {
  max-width: 500px;
  width: 100%;
}
.game-info .game-info-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 55%;
}

.game-card button {
  font: inherit;
  color: #ffffff;
  text-decoration: none;
  background-color: #000000;
  border-radius: 12px;
  padding: 0.5rem;
  transition: none;
}
.game-card button a {
  color: #ffffff;
  text-decoration: none;
  transition: none;
}
.game-card button :hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
  transition: none;
}
.game-card button:hover {
  text-decoration: underline;
  color: #000000;
  background-color: #FFA100;
}

.gamepage {
  margin: 1rem;
  display: grid;
  grid-area: page;
  margin-bottom: 5rem;
}
.gamepage .redirect {
  visibility: hidden;
  opacity: 0%;
}
.gamepage h1 {
  margin-left: 2.4rem;
}
.gamepage ul {
  list-style: none;
  margin: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.gamepage ul li {
  max-width: 300px;
  width: 100%;
  border: 2px solid #000000;
  margin: 5px;
  padding: 0.5rem;
}
.gamepage ul li img {
  max-width: 250px;
}

.dashboard-shop-list {
  background-color: #f3f3f3;
  justify-content: space-evenly;
}
.dashboard-shop-list li {
  display: flex;
  background-color: #ffffff;
}

footer {
  grid-area: footer;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
footer a {
  color: #FFA100;
  transition: none;
}
footer a:hover {
  transition: none;
  color: #6ea100;
}

@media (max-width: 800px) {
  header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo" "nav";
  }
  header h1 {
    grid-area: logo;
    justify-content: center;
    max-width: none;
    width: auto;
    align-items: none;
  }
  header h1 a {
    padding: 0;
  }
  header nav {
    grid-area: nav;
    justify-content: center;
    max-width: none;
    width: auto;
    padding: 0;
    align-items: none;
  }
  header nav ul {
    list-style-type: none;
  }
  header nav ul li {
    text-align: none;
    display: inline-block;
    padding: 1rem;
  }
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: ". page ." ". mg-mf .";
  }
  main .dashboard-shop {
    grid-area: page;
    margin: 0rem;
    margin-bottom: 1rem;
  }
  main .dashboard-shop ul {
    margin: -1rem;
  }
  main .dashboard-mg-mf {
    grid-area: mg-mf;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "mg" "mf";
    margin-bottom: 4rem;
  }
  main .dashboard-mg-mf .mg {
    margin: 0;
    margin-bottom: 1rem;
    grid-area: mg;
    display: flex;
    flex-direction: column;
  }
  main .dashboard-mg-mf .mg .redirect {
    margin-left: 0.5rem;
    border-radius: 12px;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  main .dashboard-mg-mf .mg ul {
    list-style: none;
    margin: -1rem;
    margin-right: 0;
    display: flex;
    flex-direction: row;
  }
  main .dashboard-mg-mf .mg ul li {
    padding: 0.5rem;
  }
  main .dashboard-mg-mf .mf {
    margin: 0;
    margin-bottom: 1rem;
    grid-area: mf;
    border-left: none;
  }
  main .dashboard-mg-mf .mf .redirect {
    margin-left: 0.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
  }
  main .dashboard-mg-mf .mf h2 {
    margin-left: 0;
  }
  main .dashboard-mg-mf .mf ul {
    margin: -1rem;
  }
  .game-info {
    grid-area: page;
    padding: 1rem;
    margin-bottom: 5rem;
  }
  .game-info p {
    max-width: 100%;
  }
  .game-info aside {
    float: none;
  }
  .game-info aside img {
    max-width: 500px;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
