@import 'examvariables'; 

*{
    box-sizing: border-box;
}

body{
    @extend .textfont;
    font-size: 18px;
    
}

#root{
    margin: -1;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto ;
    grid-template-areas:"header"
                        "main"
                        "footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "logo . nav";
    background-color: $black;
    color: $white;
    
    font-family: $headerfont;
    
    h1 {
        grid-area: logo;
        display: flex;
        flex-direction: row;
        justify-content: left;
        max-width: 500px;
        width: auto;
        align-items: center; 
        font-family: $headerfont;
        font-weight: 700;
        margin-left: 1rem;
        a{
            padding: 0.5rem;
            color: $white;
            text-decoration: none;
            transition: none;
        }
        
        
    }
    h1:hover{
        text-decoration: underline;
        color: $orange;
        a:hover{
            text-align: underline;
            color: $orange;
            }
    }

    nav {
        grid-area: nav;
        display: flex;
        flex-direction: row;
        justify-content: right;
        max-width: 500px;
        width: auto;
        padding: 0.5rem;
        align-items: center;
        ul{
            list-style-type: none;
            
            li{
                text-align: center;
                display: inline-block;
                padding: 1rem;
                color: $white;
            }
            li:hover{
                color: $orange; 
                text-decoration: underline;
            }
        }
    }
}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: ". page ."
                        ". mg-mf .";

    .dashboard-shop{
        grid-area: page;
        margin: 1rem;

            .redirect{
                font: inherit;
                margin-left: .5rem;
                background-color: $black;
                border-radius: 12px;

                a{
                    color: $white;  
                    text-decoration: none;
                    transition: none;
                }
                :hover{
                    text-decoration: underline;
                    color: $black;
                    background-color: $orange;
                    transition: none;
                }
            }
            .redirect:hover{
                text-decoration: underline;
                color: $black;
                background-color: $orange;
            } 

            ul{
                list-style: none;
                margin: -1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                li{
                    max-width: 300px;
                    width: 100%;
                    border: 2px solid $black;
                    margin: 5px;
                    padding: 0.5rem;
        
                    img {
                        max-width: 250px;
                    }
                }
            }
    }

    .dashboard-mg-mf{
        grid-area: mg-mf;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "mg mf";
        margin-bottom: 4rem;

        .mg {
            margin: 1rem;
            grid-area: mg;
            display: flex;
            flex-direction: column;
            
            .redirect{
                font-family: "Mulish";
                font-weight: 400;
                font-size: 27px;
                margin-left: .5rem;
                background-color: $black;
                border-radius: 12px;
                padding: .5rem;
                max-width: 14rem;
                width: auto;
                margin-top: 1rem;
                a{
                    
                    color: $white;  
                    text-decoration: none;
                    transition: none;
                }
                :hover{
                    text-decoration: underline;
                    color: $black;
                    background-color: $orange;
                    transition: none;
                }
            }
            .redirect:hover{
                text-decoration: underline;
                color: $black;
                background-color: $orange;
            } 

            ul{
                list-style: none;
                margin: -1rem;
                margin-right: 0.5rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    max-width: 300px;
                    width: 100%;
                    border: 2px solid $black;
                    margin: 5px;
                    padding: 0.5rem;
        
                    img {
                        max-width: 250px;
                    }
                }
            }
        }

        .mf {
            margin: 1rem;
            grid-area: mf;
            border-left: 3px solid $dark-grey;

            .redirect{
                font-family: "Mulish";
                font-weight: 400;
                font-size: 27px;
                background-color: $black;
                border-radius: 12px;
                margin-left: 1.8rem;
                padding: .5rem;
                max-width: 14rem;
                width: auto;
                margin-top: 1rem;
                a{
                    color: $white;  
                    text-decoration: none;
                    transition: none;
                }
                :hover{
                    text-decoration: underline;
                    color: $black;
                    background-color: $orange;
                    transition: none;
                }
            }
            .redirect:hover{
                text-decoration: underline;
                color: $black;
                background-color: $orange;
            } 

            h2{
                margin-left: 1.8rem;
            }
            ul{
                list-style: none;
                margin: -1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    max-width: 300px;
                    width: 100%;
                    border: 2px solid $black;
                    margin: 5px;
                    padding: 0.5rem;
        
                    img {
                        max-width: 250px;
                    }
                }
            }
        }
    }
}
.game-info{
    grid-area: page;
    padding: 1rem;
    margin-bottom: 5rem;
    
    p{
        max-width: 65%;
    }
    aside{
        float: right;
        img{
           max-width: 500px;
           width: 100%;
           
        }
    }
}


.game-card{
    button{
        font: inherit;
        color: $white;  
        text-decoration: none;
        background-color: $black;
        border-radius: 12px;
        padding: .2rem;
        transition: none;
        a{
            color: $white;  
            text-decoration: none;
            transition: none;
            }
            :hover{
                text-decoration: underline;
                color: $black;
                background-color: $orange;
                transition: none;
            }
    }
    button:hover{
        text-decoration: underline;
        color: $black;
        background-color: $orange;
    } 
}

.gamepage {
    margin: 1rem;
    display: grid;
    grid-area: page;
    margin-bottom: 5rem;
    .redirect{
        visibility: hidden;
        opacity: 0%;
    }
    h1{
        margin-left: 2.4rem;
    }
    ul{
        list-style: none;
        margin: -1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        li{
            max-width: 300px;
            width: 100%;
            border: 2px solid $black;
            margin: 5px;
            padding: 0.5rem;

            img {
                max-width: 250px;
            }
        }
    }
}

.dashboard-shop-list{
    background-color: $light-grey;
    justify-content: space-evenly;
    li{
        display: flex;
        background-color: $white;
        
    }
}


footer{
    grid-area: footer;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: $black;
    color: $white;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px){
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "logo"
                            "nav";
        h1 {
            grid-area: logo;
            justify-content: center;
            max-width: none;
            width: auto;
            align-items: none; 
            a{
                padding: 0;
            }
        }
    
        nav {
            grid-area: nav;
            justify-content: center;
            max-width: none;
            width: auto;
            padding: 0;
            align-items: none;
            ul{
                list-style-type: none;
                
                li{
                    text-align: none;
                    display: inline-block;
                    padding: 1rem;
                    color: $white;
                }
            }
        }
    }

    main{
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 16fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: ". page ."
                            ". mg-mf .";
    
        .dashboard-shop{
            grid-area: page;
            margin: 0rem;
            margin-bottom: 1rem;
    
                ul{
                    list-style: none;
                    margin: -1rem;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    li{
                        max-width: 300px;
                        width: 100%;
                        border: 2px solid $black;
                        margin: 5px;
                        padding: 0.5rem;
            
                        img {
                            max-width: 250px;
                        }
                    }
                }
        }
    
        .dashboard-mg-mf{
            grid-area: mg-mf;
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: "mg"
                                "mf";
            margin-bottom: 4rem;
    
            .mg {
                margin: 0;
                margin-bottom: 1rem;
                grid-area: mg;
                display: flex;
                flex-direction: column;
                
                .redirect{
                    margin-left: .5rem;
                    border-radius: 12px;
                    padding: .5rem;
                    margin-top: 1rem;
                }
    
                ul{
                    list-style: none;
                    margin: -1rem;
                    margin-right: 0;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                        max-width: 300px;
                        width: 100%;
                        border: 2px solid $black;
                        margin: 5px;
                        padding: 0.5rem;
            
                        img {
                            max-width: 250px;
                        }
                    }
                }
            }
    
            .mf {
                margin: 0;
                margin-bottom: 1rem;
                grid-area: mf;
                border-left: none;
    
                .redirect{
                    margin-left: .5rem;
                    padding: .5rem;
                    margin-top: 1rem;
                }
    
                h2{
                    margin-left: 0;
                }
                ul{
                    list-style: none;
                    margin: -1rem;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    li{
                        max-width: 300px;
                        width: 100%;
                        border: 2px solid $black;
                        margin: 5px;
                        padding: 0.5rem;
            
                        img {
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }
    .game-info{
        grid-area: page;
        padding: 1rem;
        margin-bottom: 5rem;
        
        p{
            max-width: 100%;
        }
        aside{
            float: none;
            img{
               max-width: 500px;
               width: 100%;
               
            }
        }
    }

}



